<h1 class="mt-4">Memory</h1>

<section id="select-country" class="m-4">
  <form action="" method="get">
    <div class="form-inline">
      <label class="mr-3" for="countries">Country :</label>
      <select name="country" id="countries" class="form-control" onchange="this.form.submit();" selected='ya'>
        <option>All</option>
        <% @countries.each do |country| %>
          <option <%= 'selected' if country == params[:country] %> ><%= country %></option>
        <% end %>
      </select>
      <%# <button type="submit" class="btn btn-secondary ml-3"><i class="fas fa-sync-alt"></i> Refresh</button> %>
    </div>
  </form>
</section>

<section id="summary" class="m-4">
  <h2 class="mb-3">Summary</h2>

  <div class="cards d-flex justify-content-around">
    <div class="card p-4">
      <h4>Revenue</h4>
      <div class="d-flex justify-content-center aligns-center">
        <p><%= (@revenue.fdiv(1000)).round(1) %> K €</p>
      </div>
    </div>

    <div class="card p-4">
      <h4>Average revenue / order</h4>
      <div class="d-flex justify-content-center aligns-center">
        <p><%= @average_revenue %> €</p>
      </div>
    </div>

    <div class="card p-4">
      <h4>Customers</h4>
      <div class="d-flex justify-content-center aligns-center">
        <p><%= @number_of_customers %></p>
      </div>
    </div>
  </div>
</section>

<section id="graph-view" class="m-4">
  <h2 class="mb-3">Monthly view</h2>

  <canvas id="myChart" width="80vw" height="40vw"></canvas>

  <div id="monthly-data-x"
    <% @data_chart.each do |month_arr| %>
      data-<%= month_arr[0] %>="<%= month_arr[0].capitalize %>"
    <% end %>>
  </div>

    <div id="monthly-data-y"
    <% @data_chart.each do |month_arr| %>
      data-<%= month_arr[0] %>="<%= month_arr[1] %>"
    <% end %>>
  </div>

</section>
